Libs/
*.bak
*.obj
Growatt_ShineWiFi-S.code-workspace
.pio/build/project.checksum
.pio/build/env1/.sconsign39.dblite
.pio/build/env1/firmware.bin
.pio/build/env1/firmware.elf
.pio/build/env1/idedata.json
.pio/build/env1/libFrameworkArduino.a
.pio/build/env1/libFrameworkArduinoVariant.a
.pio/build/env1/FrameworkArduino/abi.cpp.o
.pio/build/env1/FrameworkArduino/aes_unwrap.cpp.o
.pio/build/env1/FrameworkArduino/base64.cpp.o
.pio/build/env1/FrameworkArduino/cbuf.cpp.o
.pio/build/env1/FrameworkArduino/cont_util.cpp.o
.pio/build/env1/FrameworkArduino/cont.S.o
.pio/build/env1/FrameworkArduino/core_esp8266_app_entry_noextra4k.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_eboot_command.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_features.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_flash_quirks.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_flash_utils.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_i2s.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_main.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_non32xfer.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_noniso.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_phy.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_postmortem.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_si2c.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_sigma_delta.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_spi_utils.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_timer.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_vm.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_waveform_phase.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_waveform_pwm.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_wiring_analog.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_wiring_digital.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_wiring_pulse.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_wiring_pwm.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_wiring_shift.cpp.o
.pio/build/env1/FrameworkArduino/core_esp8266_wiring.cpp.o
.pio/build/env1/FrameworkArduino/crc32.cpp.o
.pio/build/env1/FrameworkArduino/Crypto.cpp.o
.pio/build/env1/FrameworkArduino/debug.cpp.o
.pio/build/env1/FrameworkArduino/Esp-frag.cpp.o
.pio/build/env1/FrameworkArduino/Esp-version.cpp.o
.pio/build/env1/FrameworkArduino/Esp.cpp.o
.pio/build/env1/FrameworkArduino/exc-c-wrapper-handler.S.o
.pio/build/env1/FrameworkArduino/exc-sethandler.cpp.o
.pio/build/env1/FrameworkArduino/flash_hal.cpp.o
.pio/build/env1/FrameworkArduino/FS.cpp.o
.pio/build/env1/FrameworkArduino/FSnoop.cpp.o
.pio/build/env1/FrameworkArduino/FunctionalInterrupt.cpp.o
.pio/build/env1/FrameworkArduino/gdb_hooks.cpp.o
.pio/build/env1/FrameworkArduino/HardwareSerial.cpp.o
.pio/build/env1/FrameworkArduino/heap.cpp.o
.pio/build/env1/FrameworkArduino/hwdt_app_entry.cpp.o
.pio/build/env1/FrameworkArduino/IPAddress.cpp.o
.pio/build/env1/FrameworkArduino/libc_replacements.cpp.o
.pio/build/env1/FrameworkArduino/LwipDhcpServer-NonOS.cpp.o
.pio/build/env1/FrameworkArduino/LwipDhcpServer.cpp.o
.pio/build/env1/FrameworkArduino/LwipIntf.cpp.o
.pio/build/env1/FrameworkArduino/LwipIntfCB.cpp.o
.pio/build/env1/FrameworkArduino/MD5Builder.cpp.o
.pio/build/env1/FrameworkArduino/mmu_iram.cpp.o
.pio/build/env1/FrameworkArduino/Print.cpp.o
.pio/build/env1/FrameworkArduino/reboot_uart_dwnld.cpp.o
.pio/build/env1/FrameworkArduino/Schedule.cpp.o
.pio/build/env1/FrameworkArduino/spiffs_api.cpp.o
.pio/build/env1/FrameworkArduino/sqrt32.cpp.o
.pio/build/env1/FrameworkArduino/StackThunk.cpp.o
.pio/build/env1/FrameworkArduino/stdlib_noniso.cpp.o
.pio/build/env1/FrameworkArduino/Stream.cpp.o
.pio/build/env1/FrameworkArduino/StreamSend.cpp.o
.pio/build/env1/FrameworkArduino/time.cpp.o
.pio/build/env1/FrameworkArduino/Tone.cpp.o
.pio/build/env1/FrameworkArduino/TypeConversion.cpp.o
.pio/build/env1/FrameworkArduino/uart.cpp.o
.pio/build/env1/FrameworkArduino/Updater.cpp.o
.pio/build/env1/FrameworkArduino/WMath.cpp.o
.pio/build/env1/FrameworkArduino/WString.cpp.o
.pio/build/env1/FrameworkArduino/libb64/cdecode.cpp.o
.pio/build/env1/FrameworkArduino/libb64/cencode.cpp.o
.pio/build/env1/FrameworkArduino/spiffs/spiffs_cache.cpp.o
.pio/build/env1/FrameworkArduino/spiffs/spiffs_check.cpp.o
.pio/build/env1/FrameworkArduino/spiffs/spiffs_gc.cpp.o
.pio/build/env1/FrameworkArduino/spiffs/spiffs_hydrogen.cpp.o
.pio/build/env1/FrameworkArduino/spiffs/spiffs_nucleus.cpp.o
.pio/build/env1/FrameworkArduino/umm_malloc/umm_info.c.o
.pio/build/env1/FrameworkArduino/umm_malloc/umm_integrity.c.o
.pio/build/env1/FrameworkArduino/umm_malloc/umm_local.c.o
.pio/build/env1/FrameworkArduino/umm_malloc/umm_malloc.cpp.o
.pio/build/env1/FrameworkArduino/umm_malloc/umm_poison.c.o
.pio/build/env1/ld/local.eagle.app.v6.common.ld
.pio/build/env1/lib0e2/libESP8266WiFi.a
.pio/build/env1/lib0e2/ESP8266WiFi/BearSSLHelpers.cpp.o
.pio/build/env1/lib0e2/ESP8266WiFi/CertStoreBearSSL.cpp.o
.pio/build/env1/lib0e2/ESP8266WiFi/enable_wifi_at_boot_time.cpp.o
.pio/build/env1/lib0e2/ESP8266WiFi/ESP8266WiFi.cpp.o
.pio/build/env1/lib0e2/ESP8266WiFi/ESP8266WiFiAP.cpp.o
.pio/build/env1/lib0e2/ESP8266WiFi/ESP8266WiFiGeneric.cpp.o
.pio/build/env1/lib0e2/ESP8266WiFi/ESP8266WiFiGratuitous.cpp.o
.pio/build/env1/lib0e2/ESP8266WiFi/ESP8266WiFiMulti.cpp.o
.pio/build/env1/lib0e2/ESP8266WiFi/ESP8266WiFiScan.cpp.o
.pio/build/env1/lib0e2/ESP8266WiFi/ESP8266WiFiSTA-WPS.cpp.o
.pio/build/env1/lib0e2/ESP8266WiFi/ESP8266WiFiSTA.cpp.o
.pio/build/env1/lib0e2/ESP8266WiFi/WiFiClient.cpp.o
.pio/build/env1/lib0e2/ESP8266WiFi/WiFiClientSecureBearSSL.cpp.o
.pio/build/env1/lib0e2/ESP8266WiFi/WiFiServer.cpp.o
.pio/build/env1/lib0e2/ESP8266WiFi/WiFiServerSecureBearSSL.cpp.o
.pio/build/env1/lib0e2/ESP8266WiFi/WiFiUdp.cpp.o
.pio/build/env1/lib4e9/libModbusMaster.a
.pio/build/env1/lib4e9/ModbusMaster/ModbusMaster.cpp.o
.pio/build/env1/libd8c/libESP8266WebServer.a
.pio/build/env1/libd8c/ESP8266WebServer/detail/mimetable.cpp.o
.pio/build/env1/libf37/libPubSubClient.a
.pio/build/env1/libf37/PubSubClient/PubSubClient.cpp.o
.pio/build/env1/src/ShineWiFi-S_ModBus/Growatt.cpp.o
.pio/build/env1/src/ShineWiFi-S_ModBus/index.cpp.o
.pio/build/env1/src/ShineWiFi-S_ModBus/ShineWiFi-S_ModBus.cpp.o
.pio/libdeps/env1/integrity.dat
.pio/libdeps/env1/ModbusMaster/.github_changelog_generator
.pio/libdeps/env1/ModbusMaster/.gitignore
.pio/libdeps/env1/ModbusMaster/.piopm
.pio/libdeps/env1/ModbusMaster/.ruby-gemset
.pio/libdeps/env1/ModbusMaster/.ruby-version
.pio/libdeps/env1/ModbusMaster/.travis.yml
.pio/libdeps/env1/ModbusMaster/CHANGELOG.md
.pio/libdeps/env1/ModbusMaster/CODE_OF_CONDUCT.md
.pio/libdeps/env1/ModbusMaster/CONTRIBUTING.md
.pio/libdeps/env1/ModbusMaster/Gemfile
.pio/libdeps/env1/ModbusMaster/Gemfile.lock
.pio/libdeps/env1/ModbusMaster/keywords.txt
.pio/libdeps/env1/ModbusMaster/library.properties
.pio/libdeps/env1/ModbusMaster/LICENSE
.pio/libdeps/env1/ModbusMaster/Makefile
.pio/libdeps/env1/ModbusMaster/Rakefile
.pio/libdeps/env1/ModbusMaster/README.md
.pio/libdeps/env1/ModbusMaster/STYLE.md
.pio/libdeps/env1/ModbusMaster/VERSION
.pio/libdeps/env1/ModbusMaster/.github/ISSUE_TEMPLATE.md
.pio/libdeps/env1/ModbusMaster/.github/PULL_REQUEST_TEMPLATE.md
.pio/libdeps/env1/ModbusMaster/examples/Basic/Basic.pde
.pio/libdeps/env1/ModbusMaster/examples/PhoenixContact_nanoLC/PhoenixContact_nanoLC.pde
.pio/libdeps/env1/ModbusMaster/examples/RS485_HalfDuplex/RS485_HalfDuplex.ino
.pio/libdeps/env1/ModbusMaster/src/ModbusMaster.cpp
.pio/libdeps/env1/ModbusMaster/src/ModbusMaster.h
.pio/libdeps/env1/ModbusMaster/src/util/crc16.h
.pio/libdeps/env1/ModbusMaster/src/util/word.h
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
